package ${package.Controller};

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
import ${package.Entity}.${entity};
import com.xuwei.util.JSONUtil;
import com.xuwei.util.StringUtil;
import com.xuwei.util.ServiceResult;
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.mapper.EntityWrapper;
import com.baomidou.mybatisplus.plugins.Page;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;
import javax.annotation.Resource;
import java.util.Arrays;
#end


/**
 * @description: $!{table.comment}控制器
 * @copyright: 福建骏华信息有限公司 (c)${cfg.year}
 * @createTime: ${cfg.createTime}
 * @author: ${author}
 * @version: ${cfg.version}
 */
@Controller
@RequestMapping("/admin#if(${package.ModuleName})/${package.ModuleName}#end/${table.entityPath}")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${entity}> {
    @Resource
    private ${table.serviceName} ${table.entityPath}Service;

    public ${table.controllerName}(){
        setResourceIdentity("sys:${table.entityPath}");
    }

    /**
    * @description: 转向模块主界面
    * @createTime: ${cfg.createTime}
    * @author: ${author}
    * @param model
    * @return
    */
    @RequestMapping(value = "main",method = RequestMethod.GET)
    public String main(Model model){
        return defaultViewPrefix();
    }

    /**
    * @description: 添加
    * @createTime: ${cfg.createTime}
    * @author: ${author}
    * @param m
    * @return
    */
    @RequestMapping(value = "create",method = RequestMethod.POST)
    @ResponseBody
    public Object create(${entity} m){
        ServiceResult result = new ServiceResult(false);
        if(!hasCreatePermission()){
            result.setMessage("没有添加权限");
        }else{
            boolean isSuccess = ${table.entityPath}Service.insert(m);
            result.setIsSuccess(isSuccess);
        }
        String jsonString = result.toJSON();
        return jsonString;
    }

    /**
    * @description: 修改
    * @createTime: ${cfg.createTime}
    * @author: ${author}
    * @param m
    * @return
    */
    @RequestMapping(value = "update",method = RequestMethod.POST)
    @ResponseBody
    public Object update(${entity} m){
        ServiceResult result = new ServiceResult(false);
        if(!hasUpdatePermission()){
            result.setMessage("没有修改权限");
        }else{
            boolean isSuccess = ${table.entityPath}Service.updateAllColumnById(m);
            result.setIsSuccess(isSuccess);
        }
        String jsonString = result.toJSON();
        return jsonString;
    }

    /**
    * @description: 删除
    * @createTime: ${cfg.createTime}
    * @author: ${author}
    * @param ids
    * @return
    */
    @RequestMapping(value = "mulDelete",method = RequestMethod.POST)
    @ResponseBody
    public Object mulDelete(String ids){
        ServiceResult result = new ServiceResult(false);
        if(!hasUpdatePermission()){
            result.setMessage("没有删除权限");
        }else{
            try {
                String[] idArray = StringUtil.split(ids);
                if(idArray==null||idArray.length==0){
                    result.setMessage("请选择要删除的数据行");
                    return result;
                }
                boolean isSuccess = ${table.entityPath}Service.deleteBatchIds(Arrays.asList(idArray));
                result.setIsSuccess(isSuccess);
            } catch (Exception e) {
                if(e instanceof org.springframework.dao.DataIntegrityViolationException){
                    result.setMessage("数据已被引用不能删除");
                }else{
                    result.setMessage("删除出错："+e.getMessage());
                }
            }
        }
        String jsonString = result.toJSON();
        return jsonString;
    }

    /**
    * @description: 分页查询
    * @createTime: ${cfg.createTime}
    * @author: ${author}
    * @param m
    * @param rows
    * @param page
    * @return
    */
    @ResponseBody
    @RequestMapping(value = "listByPage")
    public Object listByPage(${entity} m, int rows, int page){
        if(!hasViewPermission()){
            return  JSONUtil.EMPTYJSON;
        }
        Page<${entity}> pageM= new Page<>(page,rows);
        EntityWrapper<${entity}> ew = new EntityWrapper<>(m);
        pageM = ${table.entityPath}Service.selectPage(pageM,ew);
        String[] properties = {#set($list=${table.fields})#foreach($field in $list)#if(${field.propertyName}!='id'&&${field.propertyName}!='createTime'&&${field.propertyName}!='creatorId'&&${field.propertyName}!='lastModifyTime'&&${field.propertyName}!='lastModifierId'&&${field.propertyName}!='note'&&${field.propertyName}!='array')"${field.propertyName}",#end#end"id"};
        String jsonString = JSONUtil.toJson(pageM.getRecords(), properties,(long) pageM.getTotal());
        return jsonString;
    }
#else
public class ${table.controllerName} {
#end

}
