<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuwei.mapper.CityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xuwei.bean.City">
		<id column="id" property="id" />
		<result column="province_id" property="province.id" />
		<!-- <result column="province_name" property="province.provinceName" /> -->
		<result column="city_code" property="cityCode" />
		<result column="city_name" property="cityName" />
		<result column="status" property="status" />
		<result column="array" property="array" />
		<result column="note" property="note" />
		<result column="creator_id" property="creatorId" />
		<result column="create_time" property="createTime" />
		<result column="last_modify_time" property="lastModifyTime" />
		<result column="last_modifier_id" property="lastModifierId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
		a.id id, <!-- id-->
		a.province_id 'province.id', <!-- 省份ID-->
		b.province_name 'province.provinceName',
		a.city_code cityCode, <!-- 城市编号-->
		a.city_name cityName, <!-- 城市名称-->
		a.status status, <!-- 状态1启用0禁用-->
		a.array array, <!-- 排序-->
		a.note note, <!-- 备注-->
		a.creator_id creatorId, <!-- 创建人-->
		a.create_time createTime, <!-- 创建时间-->
		a.last_modify_time lastModifyTime, <!-- 最后修改时间-->
		a.last_modifier_id lastModifierId <!-- 最后修改人-->
    </sql>
    <!-- 查询最大的arry字段 -->
    <select id="maxArrayIndex" resultType="java.lang.Integer">
        select max(array) from t_city
     </select>
     
     
     <!-- 上移下移 -->
     <update id="changeArray" >
        UPDATE t_city
        INNER JOIN (SELECT 
                    id,
                    case
                        when id = #{srcId} then (select array from t_city where  id=#{destId})
                        else (select array from t_city where id=#{srcId})
                    END array
            FROM t_city
            where id in (#{srcId},#{destId})) a ON t_city.id=a.id
        SET t_city.array=a.array
  </update>
  
    <select id="getAllCity" parameterType="java.lang.String" resultType="com.xuwei.bean.City">
        select <include refid="baseColumns"/>
          from t_city a ,t_province b where a.province_id = b.id and b.id = #{provinceId}
    </select>
    
    <select id="findListByPage" resultType="com.xuwei.bean.City">
        select 
        <include refid="baseColumns"/>
        from t_city a  left join t_province b on
        a.province_id = b.id where   1 = 1 
        <if test="m.province != null and m.province.id != null and m.province.id != ''">
            and b.id = #{m.province.id}
        </if>
        <if test="m.cityCode != null  and m.cityCode != '' ">
           and a.city_code like '%${m.cityCode}%'
        </if>
        <if  test="m.cityName != null and m.cityName != ''">
            and a.city_name like '%${m.cityName}%'
        </if>
        <if test="m.status != null ">
            and a.status = #{m.status}
        </if>
        order by a.array 
    </select>
    
    <select id="getAllCity" resultType="com.xuwei.bean.City">
    	select 
    		a.id id,
    		a.province_id 'province.id',
    		a.city_name cityName
    	from t_city a
    	left join t_province b on a.province_id = b.id
    	where a.status = 1
    </select>
    
    <select id="getProvinceToCity" resultType="com.xuwei.bean.City">
    	select 
    		a.id id,
    		a.province_id 'province.id',
    		a.city_name cityName
    	from t_city a
    	left join t_province b on a.province_id = b.id
    	where a.status = 1 and a.province_id = #{provinceId}
    </select>
</mapper>
