<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuwei.mapper.OrderPropertyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xuwei.bean.OrderProperty">
		<id column="id" property="id" />
		<result column="order_id" property="order.id" />
		<result column="customer_property_id" property="customerPropertyId" />
		<result column="note" property="note" />
		<result column="creator_id" property="creatorId" />
		<result column="create_time" property="createTime" />
		<result column="last_modify_time" property="lastModifyTime" />
		<result column="last_modifier_id" property="lastModifierId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
		id id, <!-- id-->
		order_id orderId, <!-- 订单-->
		customer_property_id customerPropertyId, <!-- 产权-->
		note note, <!-- 备注-->
		creator_id creatorId, <!-- 创建人-->
		create_time createTime, <!-- 创建时间-->
		last_modify_time lastModifyTime, <!-- 最后修改时间-->
		last_modifier_id lastModifierId, <!-- 最后修改人-->
    </sql>
    <delete id="deletePropertyByOrder">
		DELETE FROM t_order_property WHERE order_id=#{orderId} and customer_property_id in
		<foreach item="item" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

</mapper>
